
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

REACT_STATIC_FILES_DIR="/home/merlin-mv/projects/fullstack-ts-starter/apps/web-static/dist/client"

REACT_SSR_CLIENT_STATIC_DIR="/home/merlin-mv/projects/fullstack-ts-starter/apps/web-ssr/dist/client"
REACT_SSR_CLIENT_INDEX_HTML_PATH="/home/merlin-mv/projects/fullstack-ts-starter/apps/web-ssr/dist/client/index.html"
REACT_SSR_SERVER_ENTRY_JS_PATH="/home/merlin-mv/projects/fullstack-ts-starter/apps/web-ssr/dist/server/entry-server.js"

